<mat-drawer-container class="example-container" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'side'" [opened]="true" [@openCloseSidenav]="isOpen ? 'open' : 'closed'">
    <div class="mat-drawer-nav">
      <app-navigation (drawerState)="getState($event)"></app-navigation>
    </div>
  </mat-drawer>
  <mat-drawer-content [@openCloseSidenavContent]="isOpen ? 'open' : 'closed'">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Section Title</span>

        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>

        <span>Right Aligned Text</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="mat-content">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
