<mat-drawer-container class="example-container" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'side'" [opened]="true" [@openCloseSidenav]="isOpen ? 'open' : 'closed'">
    <div class="mat-drawer-nav">
      <div class="nav-heading">
        <button type="button" aria-label="Toggle nav" mat-icon-button (click)="toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Application Title</span>
      </div>
      <div class="nav-menu">
        <ul>
          <li><a href="#"><span>Item 1</span></a></li>
          <li><a href="#"><span>Item 2</span></a></li>
          <li><a href="#"><span>Item 3</span></a></li>
          <li><a href="#"><span>Item 4</span></a></li>
          <li><a href="#"><span>Item 5</span></a></li>
        </ul>
      </div>
      <div class="nav-footer">
        <span>This is nav-footer</span>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content [style.marginLeft.px]="widthSideBar" [@openCloseSidenavContent]="isOpen ? 'open' : 'closed'">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Section Title</span>

        <!-- This fills the remaining space of the current row -->
        <span class="fill-remaining-space"></span>

        <span>Right Aligned Text</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="mat-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

